mixin slider({name='slider',title='title',info='₽',value=3330000,persent=0,min=1,max=60})
  label.slider 
    span.slider__title= title 
    span.slider__controls
      if (info === '%') 
        input(type="number",name=name,min=min,max=max).slider__input-number
        span(name=`${name}-info`).slider__info.slider__info-box= value+info
      else 
        input(type="number",name=name,value=value,min=min,max=max).slider__input-number
        span.slider__info= info
      input(type="range", name=`${name}-range`,value=value,min=min,max=max).slider__input-range
      